
html{
  font-size: 62.5%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.6rem;
  width: 100%;
  align-items: center;
  justify-content: center;
 

}

.square {
  position: absolute;
  width: 40%;
  max-width: 438px;
  height: 28px;
  left: 102px;
  top: 168px;
  background: #FBC9A8;
  
 
 }

.topic-text{
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 700;
  font-size: 4.0rem;
  line-height: 4.8rem;
  letter-spacing: 0.02em;
  color: #1F0C00;
  white-space: nowrap;

 
}
.topic-text{
  position: absolute;
  width: 28%;
  max-width: 406px;
  height: 48px;
  left: 118px;
  top: 142px;
  z-index: 1;
 
}
.container{
  width: 84%;
  background: #ffffff;
  border-radius: 8px;
  
}


.container .content .left-side{
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  height: 710px;
  top: 120px;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: right;
  position: relative;
  background: #8F542E;
  border-radius: 8px 0px 0px 8px;
}

.content .left-side .icons {
  color : #EBDACC;
}

.content .left-side .textleft{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.5rem;
}


.text-1{
  position: absolute;
  max-width: 10%;
  width: 100%;
  height: 25px;
  left: 7.5%;
  top: 6%;
  white-space: nowrap;
}

.phonedetails{ 
  position: absolute;
  top: 6%;
  left: 4%;
}

.text-2{
  position: absolute;
  max-width: 15%;
  width: 12.5%;
  height: 25px;
  left: 7.5%;
  top: 14%;
  white-space: nowrap;
}

.emaildetails{ 
  position: absolute;
  top: 14%;
  left: 4%;
}

.text-3{
  position: absolute;
  width: 18.6%;
  height: 72px;
  left: 7.5%;
  top: 22%;
  white-space: nowrap;
}

.addressdetails{
  position: absolute;
  top: 22%;
  left: 4%;
}

.text-4{
  position: absolute;
  width: 16%;
  height: 25px;
  left: 7.5%;
  top: 38%;
  white-space: nowrap;
}

.instagramdetails{
  position: absolute;
  top: 38%;
  left: 4%;
}

.text-5{
  position: absolute;
  width: 15%;
  height: 25px;
  left: 7.5%;
  top: 46%;
  white-space: nowrap;
}

.facebookdetails{
  position: absolute;
  top: 46%;
  left: 4%;
}

.content .left-side .img{
  background-image: url(/entreemcontato/logo_branca\ 2.png);
  position: absolute;
  max-width: 127px;
  width: 100%;
  height: 162.03px;
  left: 13.5%;
  top: 52%;
}

.content .left-side .img2{
  position: absolute;
  width: 17%;
  height: auto;
  left: 8.5%;
  top: 75%;
}

.container .content .right-side{
  position: absolute;
  max-width: 690px;
  width: 53%;
  height: 711px;
  left: 630px;
  top: 219px;
  background: #F5F3ED;
  border-radius: 0px 8px 8px 0px;
}

.right-side textarea{
  position: absolute;
  max-width: 609px;
  width: 88%;
  height: 220px;
  left: 41px;
  top: 349px;
  background: #F5F5F5;
  border: 1px solid #8F542E;
  border-radius: 8px
}

.right-side .input-boxemail textarea{
  position: absolute;
  max-width: 609px;
  width: 88%;
  height: 70px;
  left: 41px;
  top: 213px;
  background: #F5F5F5;
  border: 1px solid #8F542E;
  border-radius: 8px;
}

.right-side .input-boxnome textarea{
  position: absolute;
  max-width: 609px;
  width: 88%;
  height: 70px;
  left: 41px;
  top: 77px;
  background: #F5F5F5;
  border: 1px solid #8F542E;
  border-radius: 8px;
}

.right-side label{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.0rem;
  letter-spacing: 0.02em;
  text-transform: capitalize;;
  color: #1F0C00;
}

.right-side .input-boxnome label{
  position: absolute;
  align-content: center;
  align-items: center;
  max-width: 74px;
  width: 100%;
  height: 30px;
  left: 41px;
  top: 43px;
}

.right-side .input-boxemail label{
  position: absolute;
  align-content: center;
  align-items: center;
  max-width: 76px;
  width: 100%;
  height: 30px;
  left: 41px;
  top: 179px;
  white-space: nowrap;
}

.right-side .input-box-message-box label{
  position: absolute;
  align-content: center;
  align-items: center;
  max-width: 134px;
  width: 100%;
  height: 30px;
  left: 41px;
  top: 315px;
}

.right-side .button [type="button"]{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 20px;
  position: absolute;
  width: 40%;
  height: 57px;
  left: 41px;
  top: 601px;
}

.right-side .button input[type="button"]{
  background: #8F542E;
  border-radius: 8px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 112.5%;
  line-height: 3.3rem;
  letter-spacing: 0.03em;
  color: #F0F0F0;
  border-style: none;
}

.button input[type="button"]:hover{
  background: #CA8D67;
}

/* Responsividade*/
@media screen and (max-width: 480px){
  .icons {
    display: none;
  }
  .img {
    display: none;
  }
  .img2 {
    display: none;
  }

  .container .content .right-side{
    width: 88%;
    background-color: #F0F0F0;
    border-radius: 8px;
    position: absolute;
    left: 7.8%;
    z-index: 1;
    height: 438px;
    top: 17%;
    z-index: -2;

   }
 
  .container .content .left-side{
    width: 93%;
    border-radius: 8px;
    z-index: 0;
    align-content: center;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    height: 470px;
    top:15%;
    z-index: -2;

   }

   .right-side label{
    font-size: 1.6rem;
    justify-content: justify;
   }
   
  .right-side .input-boxnome label{
    top: 5%;
    left: 5%;
  }

  .right-side .input-boxnome textarea{
    width: 90%;
    height: 60px;
    top: 12%;
    left: 5%;
  }

  .right-side .input-boxemail label{
    top: 27%;
    left: 5%;
  }

  .right-side .input-boxemail textarea{
    width: 90%;
    height: 60px;
    top: 34%;
    left: 5%;
  }
  .right-side .input-box-message-box label{
    top: 49%;
    left: 5%;
  }

  .right-side .input-box-message-box textarea{
    width: 90%;
    height: 100px;
    top: 57%;
    left: 5%;
  }

  .right-side .button [type="button"]{
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 57px;
    top: 85%;
    left: 30%;
  }

  .right-side .button input[type="button"]{
  font-size: 65.63%;
  line-height: 2.4rem;
  position: absolute;
  }

  .square {
    width: 60%;
    height: 18px;
    left: 4%;
    top: 7.5%;
    z-index: -3;
    top: 22.5%;
   }
  
  .topic-text{
    font-size:156.25%	;
    line-height: 4.2rem;
    z-index: -3;
  }

  .topic-text{
    width: 23%;
    height: 21px;
    left: 7%;
    top: 4%;
    z-index: -3;
  }

  .button input[type="button"]:hover{
    background: #CA8D67;
  }
  
}

 
@media screen and (max-width: 768px) and (min-width: 481px){
  .icons {
    display: none;
  }
  .img {
    display: none;
  }
  .img2 {
    display: none;
  }

  .container .content .right-side{
    width: 88%;
    background-color: #F0F0F0;
    border-radius: 8px;
    position: absolute;
    left: 7%;
    z-index: 1;
    height: 438px;
    top: 30%;
    z-index: -2;
   }
 
  .container .content .left-side{
    width: 92%;
    border-radius: 8px;
    z-index: 0;
    align-content: center;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
    height: 470px;
    top:28%;
    z-index: -2;
   }

   .right-side label{
    font-size: 1.6rem;
    justify-content: justify;
   }
   
  .right-side .input-boxnome label{
    top: 5%;
    left: 5%;
  }

  .right-side .input-boxnome textarea{
    width: 90%;
    height: 60px;
    top: 12%;
    left: 5%;
  }

  .right-side .input-boxemail label{
    top: 27%;
    left: 5%;
  }

  .right-side .input-boxemail textarea{
    width: 90%;
    height: 60px;
    top: 34%;
    left: 5%;
  }
  .right-side .input-box-message-box label{
    top: 49%;
    left: 5%;
  }

  .right-side .input-box-message-box textarea{
    width: 90%;
    height: 100px;
    top: 57%;
    left: 5%;
  }

  .right-side .button [type="button"]{
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 57px;
    top: 85%;
    left: 30%;
  }

  .right-side .button input[type="button"]{
  font-size: 85.5%;
  line-height: 2.4rem;
  position: absolute;
  }

  .square {
    width: 280px;
    height: 18px;
    left: 6%;
    top: 22.5%;
   }
  
  .topic-text{
    font-size: 156.25%	;
    line-height: 4.2rem;
  }

  .topic-text{
    width: 23%;
    height: 21px;
    left: 7%;
    top: 19%;
    z-index: 1;
  }

  .button input[type="button"]:hover{
    background: #CA8D67;
  }
  
}


@media screen and (max-width: 1024px) and (min-width: 769px){


  .container .content .right-side{
    width: 38%;
    position: absolute;
    z-index: 1;
    height: 506px;
    top: 30%;
    left: 44%;
   }
 
  .container .content .left-side{
    width: 71%;
    z-index: 0;
    align-content: center;
    position: absolute;
    margin-left: 8%;
    margin-right: 8%;
    height: 506px;
    top:30%;
   }

   .right-side label{
    font-size: 1.6rem;
    justify-content: justify;
   }
   
  .right-side .input-boxnome label{
    top: 5%;
    left: 5%;
  }

  .right-side .input-boxnome textarea{
    width: 90%;
    height: 60px;
    top: 12%;
    left: 5%;
  }

  .right-side .input-boxemail label{
    top: 27%;
    left: 5%;
  }

  .right-side .input-boxemail textarea{
    width: 90%;
    height: 60px;
    top: 34%;
    left: 5%;
  }
  .right-side .input-box-message-box label{
    top: 49%;
    left: 5%;
  }

  .right-side .input-box-message-box textarea{
    width: 90%;
    height: 100px;
    top: 57%;
    left: 5%;
  }

  .right-side .button [type="button"]{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 57px;
    top: 85%;
  }

  .right-side .button input[type="button"]{
  font-size: 85.5%;
  line-height: 2.4rem;
  position: absolute;
  }

  .square {
    width: 30%;
    height: 18px;
    left: 6%;
    top: 23.5%;
   }
  
  .topic-text{
    font-size:181.25%;
    line-height: 4.2rem;
  }

  .topic-text{
    width: 23%;
    height: 21px;
    left: 7%;
    top: 20%;
    z-index: 1;
  }


  .content .left-side .textleft{
   font-size: 80%;
  }
  
  
  .content .left-side .img{
  top: 56%;
  left: 15%;
  }

  .content .left-side .img2{
  top: 89.5%;
  left:8%;
  }

  .text-1{
    left: 9%;
  }
  
  .text-2{
    left: 9%;
  }
  
  .text-3{
    left: 9%;
  }
  
  .text-4{
    left: 9%;
  }
  
  .text-5{
    left: 9%;
  }
  
}

nav {
  background-color: #57290B;
  height: 100px;
  width: 100%;
  z-index: 10;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 8px;


}

nav ul li:nth-child(3) {
  margin-left: 450px;
}

nav ul li a {
  text-decoration: underline #B2784A;
  color: #E2C196;
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 20px;
  justify-content: space-between;
  margin: 30px;
}


.checkbtn {
  font-size: 20px;
  color: #E2C196;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.logo-area {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 42%;
  top: 1%;
  content: "";

}

.telefone-area i {
  position: absolute;
  right: 15%;
  top: 8.5%;
  color: #B2784A;


}

.telefone-area p {
  position: absolute;
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  color: #E2C196;
  font-size: 20px;
  right: 7%;
  top: 6%;
}

@media(max-width:1225px) {
  .telefone-area {
    display: none;
  }

}

@media(max-width:1030px) {
  nav ul li:nth-child(3) {
    margin-left: 170px;
  }

}

@media(max-width: 940px) {
  .logo-area {
    display: none;
  }

}


@media(max-width: 858px) {
  .checkbtn {
    display: block;
  }

  .logo-area {
    position: absolute;
    display: block;
    left: 20px;
    width: 100px;

  }

  ul {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #8F542E;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin: 50px;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
    text-decoration: none;
  }

  nav ul li:nth-child(3) {
    margin-left: 50px;
  }

  #check:checked~ul {
    left: 0;
    
  }

  #check:checked~.borda1 {
    left: 0;
    overflow: hidden;
  }

  #check:checked~.borda2 {
    left: 0;
  }

  #check:checked~.borda3 {
    left: 0;
  }

  .borda1 {
    position: absolute;
    width: 100%;
    background-color: #B2784A;
    height: 5px;
    top: 200px;
    left: -100%;
    transition: all .5s;
    z-index: 3;
  }

  .borda2 {
    position: absolute;
    width: 100%;
    background-color: #B2784A;
    height: 5px;
    top: 290px;
    left: -100%;
    transition: all .5s;
    z-index: 3;
  }

  .borda3 {
    position: absolute;
    width: 100%;
    background-color: #B2784A;
    height: 5px;
    top: 370px;
    left: -100%;
    transition: all .5s;
    z-index: 3;
  }
}





footer#quadrado-bot {
  height: 400px;
  width: 100%;
  padding: 0 8%;
  background: #57290B;
  position: absolute;
  top: 980px;
}


.contato-redes-sociais {
  /*background: #ff0404;*/
  display: block;
  height: 200px;
  width: 50%;
  box-sizing: border-box;
  position: absolute;
  bottom: -620px;
  right: 15%;
}

.contato-redes-sociais p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.contato-redes-sociais p:nth-child(1) {
  float: left;

}

.contato-redes-sociais p:nth-child(2) {
  float: right;
  margin-right: 40%;

}

.telefone-area1 i {
  position: absolute;
  right: 96%;
  bottom: 70%;
  color: #B2784A;

}

.telefone-area1 p {
  position: absolute;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #E2C196;
  font-size: 20px;
  bottom: 67%;
  left: 7%;
}

.email-area i {
  position: absolute;
  right: 96%;
  top: 50%;
  color: #B2784A;

}

.email-area a {
  position: absolute;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #E2C196;
  font-size: 20px;
  right: 71%;
  top: 43%;
}

.gps-area i {
  position: absolute;
  right: 96.2%;
  top: 72%;
  color: #B2784A;

}

.gps-area p {
  position: absolute;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #E2C196;
  font-size: 18px;
  left: 5.5%;
  top: 66%;
}

.instagram-area i {
  position: absolute;
  right: 57%;
  bottom: 69%;
  color: #B2784A;

}

.instagram-area p {
  position: absolute;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #E2C196;
  font-size: 18px;
  right: -7%;
  bottom: 65%;
}

.facebook-area i {
  position: absolute;
  right: 57%;
  bottom: 49%;
  color: #B2784A;

}

.facebook-area p {
  position: absolute;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  color: #E2C196;
  font-size: 18px;
  right: -6%;
  bottom: 44%;
}

.quadradinho-bot {
  display: block;
  width: 1150px;
  height: 200px;
  position: absolute;
  bottom: 15%;
  border-bottom: 5px solid #B2784A;
}


.logo-branco-area {
  position: absolute;
  bottom: 25%;
  font-size: x-large;

}

footer#quadrado-bot p:nth-child(1) {
  float: right;
}

footer#quadrado-bot p:nth-child(2) {
  float: left;
  margin-right: 650px;

}

footer#quadrado-bot p {
  position: relative;
  top: 220px;
  color: #E2C196;
  justify-content: space-between;
  font-size: 20px;

}

@media(max-width: 1280px) {
  .email-area a {
    right: 70%;
  }

  .quadradinho-bot {
    right: 5%;
  }
}

@media(max-width: 1240px) {
  .quadradinho-bot {
    right: 3%;
  }
}

@media(max-width: 1220px) {
  .email-area a {
    right: 68%;
  }

  .facebook-area p {
    right: -9%;
  }

  .instagram-area p {
    right: -9%;
  }

  .quadradinho-bot {
    right: 2%;
  }
}

@media(max-width: 1200px) {
  .quadradinho-bot {
    width: 1000px;
    right: 12%;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 500px;

  }
}

@media(max-width: 1160px) {
  .quadradinho-bot {
    width: 1000px;
    right: 8%;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 500px;

  }
}

@media(max-width: 1150px) {
  .email-area a {
    right: 65%;
  }

  .facebook-area p {
    right: -11%;
  }

  .instagram-area p {
    right: -11%;
  }
}

@media(max-width: 1120px) {
  .quadradinho-bot {
    width: 1000px;
    right: 5%;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 500px;

  }
}

@media(max-width: 1080px) {
  .quadradinho-bot {
    width: 1000px;
    right: 3%;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 500px;

  }
}

@media(max-width: 1025px) {
  footer#quadrado-bot{
    top: 120%;
  }
  .contato-redes-sociais{
    top: 129%;
  }
  .quadradinho-bot {
    width: 900px;
    right: 5%;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 390px;
  }

  .email-area a {
    right: 63%;
  }

  .facebook-area p {
    right: -13%;
  }

  .instagram-area p {
    right: -13%;
  }

}

@media(max-width: 970px) {
  .quadradinho-bot {
    width: 900px;
    right: 2%;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 390px;
  }

  .email-area a {
    right: 63%;
    font-size: 18px;
  }

  .facebook-area p {
    right: -13%;
    font-size: 18px;
  }

  .instagram-area p {
    right: -13%;
    font-size: 18px;
  }

}

@media(max-width: 950px) {
  .quadradinho-bot {
    width: 700px;
    right: 15%;
  }

  .logo-branco-area {
    display: none;
  }

  .contato-redes-sociais p:nth-child(1) {
    position: absolute;
    right: 500px;
  }

  .telefone-area1 i {
    right: 125%;
  }

  .telefone-area1 p {
    left: -23%;
  }

  .email-area i {
    right: 125%;
  }

  .email-area a {
    right: 92%;
    font-size: 18px;
  }

  .gps-area i {
    right: 126%;
  }

  .gps-area p {
    left: -23%;
  }

  .facebook-area i {
    right: 65%;
  }

  .facebook-area p {
    right: -8%;
    font-size: 18px;
  }

  .instagram-area i {
    right: 65%;
  }

  .instagram-area p {
    right: -9%;
    font-size: 18px;
  }

  footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 250px;
  }

}


@media(max-width: 858px) {
  .logo-branco-area {
    display: none;
  }

  .quadradinho-bot {
    width: 700px;
    height: 200px;
    left: 5%;
  }

  footer#quadrado-bot p {
    font-size: 17px;
  }

  footer#quadrado-bot p:nth-child(2) {
    margin-right: 290px;
  }

  .telefone-area1 i {
    right: 135%;
  }

  .telefone-area1 p {
    left: -32%;
  }

  .email-area i {
    right: 135%;
  }

  .email-area a {
    right: 97%;
  }

  .gps-area i {
    right: 136%;
  }

  .gps-area p {
    left: -34%;
  }

  .instagram-area i {
    right: 68%;
  }

  .facebook-area i {
    right: 68%;
  }
}

@media(max-width: 800px) {
  .instagram-area p {
    right: -12%;
  }

  .facebook-area p {
    right: -12%;
  }

  .email-area a {
    right: 92%;
  }

  .contato-redes-sociais p:nth-child(1) {
    position: absolute;
    right: 465px;
  }

}

@media(max-width: 760px) {
  .quadradinho-bot {
    width: 600px;
    height: 200px;
    left: 5%;
  }

  footer#quadrado-bot p:nth-child(2) {
    margin-right: 200px;
  }

  .contato-redes-sociais p:nth-child(1) {
    position: absolute;
    right: 410px;
  }

  .instagram-area p {
    right: -17%;
  }

  .facebook-area p {
    right: -17%;
  }
}

@media(max-width:700px) {
  .contato-redes-sociais p:nth-child(1) {
    position: absolute;
    right: 380px;
  }

  .email-area a {
    right: 88%;
  }
}

@media(max-width: 650px) {
  .quadradinho-bot {
    width: 520px;
    height: 200px;
    left: 5%;
  }

  footer#quadrado-bot p:nth-child(2) {
    margin-right: 109px;
  }

  .contato-redes-sociais p:nth-child(1) {
    position: absolute;
    right: 300px;
  }

  .contato-redes-sociais p:nth-child(2) {
    float: right;
    margin-right: 30%;
  }

  .instagram-area p {
    right: -23%;
  }

  .facebook-area p {
    right: -23%;
  }

  .email-area a {
    right: 85%;
  }
}

@media (max-width: 570px) {
  .quadradinho-bot {
    width: 480px;
    height: 200px;
    left: 5%;
  }

  footer#quadrado-bot p:nth-child(2) {
    margin-right: 99px;
  }

  .email-area a {
    right: 80%;
  }
}

@media(max-width: 500px) {
  .contato-redes-sociais p:nth-child(1) {
    position: absolute;
    right: 270px;
  }

  .telefone-area1 i {
    right: 140%;
  }

  .telefone-area1 p {
    left: -32%;
  }

  .email-area i {
    right: 140%;
  }

  .email-area a {
    right: 83%;
    font-size: 16px;
  }

  .gps-area i {
    right: 141%;
  }

  .gps-area p {
    left: -39%;
  }

  .quadradinho-bot {
    width: 430px;
    height: 200px;
    left: 5%;
  }

  footer#quadrado-bot p {
    font-size: 15px;
  }

  footer#quadrado-bot p:nth-child(2) {
    margin-right: 70px;
  }
}