@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif;
    box-sizing: border-box;
    font-size: 25px;
}


    


footer#quadrado-bot{
    height: 400px;
    width: 100%;
    padding: 0 8%;
    background: #57290B;
    position: absolute;
    top: 700px;
}


.contato-redes-sociais{
    /*background: #ff0404;*/ 
    display: block;
    height: 200px;
    width: 50%;
    box-sizing: border-box;
    position: absolute;
    bottom: -320px;
    right: 15%;
}

.contato-redes-sociais p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.contato-redes-sociais p:nth-child(1){
    float: left;
  
}

.contato-redes-sociais p:nth-child(2) {
    float: right;
    margin-right: 40%;
    
}

.telefone-area i {
    position: absolute;
    right: 96%;
    bottom: 70%;
    color: #B2784A;

}

.telefone-area p {
    position: absolute;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #E2C196;
    font-size: 20px;
    bottom: 67%;
    left: 5%;
}

.email-area i{
    position: absolute;
        right: 96%;
        top: 50%;
        color: #B2784A;
        
}

.email-area a{
    position: absolute;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #E2C196;
    font-size: 20px;
    right: 72%;
    top: 43%;
}

.gps-area i {
    position: absolute;
    right: 96.2%;
    top: 72%;
    color: #B2784A;

}

.gps-area p {
    position: absolute;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #E2C196;
    font-size: 18px;
    left: 5%;
    top: 66%;
}

.instagram-area i {
    position: absolute;
    right: 57%;
    bottom: 69%;
    color: #B2784A;

}

.instagram-area p {
    position: absolute;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #E2C196;
    font-size: 18px;
    right: -5%;
    bottom: 65%;
}

.facebook-area i {
    position: absolute;
    right: 57%;
    bottom: 49%;
    color: #B2784A;

}

.facebook-area p {
    position: absolute;
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #E2C196;
    font-size: 18px;
    right: -5%;
    bottom: 44%;
}

.quadradinho-bot{
    display: block;
    width: 1150px;
    height: 200px;
    position: absolute;
    bottom: 15%;
    border-bottom: 5px solid #B2784A;
}


.logo-branco-area{
    position: absolute;
    bottom: 25%;
    font-size: x-large;
    
}

footer#quadrado-bot p:nth-child(1){
    float: right;
}
footer#quadrado-bot p:nth-child(2) {
    float: left;
    margin-right: 650px;

}


footer#quadrado-bot p{
    position: relative;
    top: 220px;
    color: #E2C196;
    justify-content: space-between;
    font-size: 20px;
    
}