

.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F3ED;
  border-radius: 8px;
  
}
.image-content{
  justify-content: center;
  position: relative;
  row-gap: 39px;

}

.card-image{
  position: relative;
  width: 345px;
  height: 400px;
}

.card-image .card-img{
  width: 314px;
  height: 277px;
}

.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
